.input-div .input {
  /* : 0.5rem 3rem; */
  height: 2rem;
  width: 15rem;
  padding: 0.3rem 0.2rem;
  }
  
  .input-div .btn {
  padding: 0.8rem 0.3rem;
  background-color: pink;
  border: none;

  
  }
  
  .input-div {
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    margin-top: 3rem ;
  }
  form {
    display: flex;
    gap: 0.5rem;
  }